/* * {
    font-family: 'Roboto', sans-serif;
    font-style: bold;
} */

body {
    background: rgb(241, 241, 241);
    text-align: center;
    font-family: 'Lexend Tera', sans-serif;
    overflow-y: hidden;
}

.interfaz {
    padding: 50px;            
}

#titulo h1 {
    color: #FFAA26;
    font-family: 'Lexend Tera', sans-serif;
    font-size: 40px;
}

#titulo h3 {
    color: #000000;
    font-family: 'Lexend Tera', sans-serif;
    font-size: 12px;
}    

#titulo h4 {
    color: #000000;
    font-family: 'Lexend Tera', sans-serif;
    font-size: 120px;        
}

label {
    font-family: 'Lexend Tera', sans-serif;
    font-size: 20px;
    color: #000000;
}

.button {
    background-color: #FFAA26;
    color: white;
    border: none;
    font-family: 'Lexend Tera', sans-serif;
	border-radius:6px;
	border:1px solid #FFAA26;
	font-size:15px;
	padding:4px 10px;
    text-decoration:none;
    border-radius: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #ff9900;
    color: white;
}


#numeroDesplazamientos {
    width: 30px;
}

#tituloNumeroDesplazamientos {
  display: inline-block;
}

/* .circulo {
    width: 18px;
    height:18px;
    background-color:#FFAA26;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    color: #FFFFFF;
    font-family: 'Lexend Tera', sans-serif;
    font-style: bold;
} */

p {
    color: #000000;
    line-height: 1.5em; 
    font-family: 'Lexend Tera', sans-serif;
    font-size: 17px;    
}

.btnComenzar {
    background-color: #FFAA26;
    color: white;
    border: none;
    font-family: 'Lexend Tera', sans-serif;
    font-weight: 500;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 24px;
}

.btnComenzar:hover {
    background-color: #ff9900;
    color: white;
}

#origen, #destino {
    border-color: #ddd;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 10px;
    width: 30%;
    padding: 10px;
    margin: 10px 0;
}